# dependencies
node_modules/
.pnpm-store/

# build output
dist/
build/
out/
.turbo/
*.tsbuildinfo

# test
coverage/
.nyc_output/

# logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# editors
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/

# OS
.DS_Store
Thumbs.db

# env
.env
.env.local
.env.*.local

# misc
.cache/
.temp/
.tmp/

# autotranslate output
.translations/
